# See https://help.github.com/ignore-files/ for more about ignoring files.
.issues.txt.swp
issues.txt

# IntelliJ
.idea/
*.iml

.gitignore
# dependencies
app/node_modules

# Python
venv/
env/
__pycache__/

# misc
tmp/

lydpatruljen.csr
lydpatruljen.key
*@godlydpatruljen.json

.vscode
*.log
