# See https://help.github.com/ignore-files/ for more about ignoring files.
.issues.txt.swp
issues.txt
# expo
app/.expo/


# IntelliJ
.idea/
*.iml

.gitignore
# dependencies
app/node_modules


# Python
venv/
env/


# misc
tmp/

app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local

app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log/*
app/package-lock.json

app/settings/credentials.js
app/credentials.js
lydpatruljen.csr
lydpatruljen.key

app/app.json


# Terraform
**/.terraform/**
**/*.tfstate
**/*.tfstate.backup

.vscode
