# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
app/.expo/

# dependencies
app/node_modules

# misc
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local

app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log/*
app/package-lock.json

app/credentials.js

app/app.json

cloud/.terraform
cloud/credentials.json
cloud/creds.json
cloud/.terraform
cloud/terraform.tfstate
cloud/terraform.tfstate.backup
creds/*
